$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import url(http://fonts.googleapis.com/css?family=Maven+Pro);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);

@import url(http://fonts.googleapis.com/css?family=Montserrat);


$fontFamily: 'Montserrat';

$ladies: #D24D57;
$gents: #4B77BE;

* {
  letter-spacing: 0.050em;
  font-family: $fontFamily;
}

.ct-series-a .ct-bar,
.ct-series-a .ct-point {
  stroke: $gents;
}

.ct-series-b .ct-bar,
.ct-series-b .ct-point {
  stroke: $ladies;
}

// .ct-label.ct-horizontal.ct-end {
//   font-weight: bold;
//   font-size: 12px;
// }

span.ct-label.ct-vertical {
  font-size: 12px;
  line-height: 1.5;
}

span.ct-label.ct-horizontal {
  font-size: 12px;
  line-height: 1.5;
}



body {
  position: relative;
}

input {
  min-width: 50px;
}

h1,h3,h4 {
  font-family: $fontFamily;
}

p,p b {
  font-size: 18px;
  letter-spacing: 0.050em;
  // line-height: 1.25;
  line-height: 30px;
  font-family: $fontFamily;
}



.reference {
  margin-top: -30px;
}

.all-by-gender-chart, .cs-by-gender-chart {
  height: 400px;
}

.degrees-by-gender, .cs-degrees-by-gender {
  h2 {    
    text-align: center;
  }
}

.placeholder {
  height: 50px;
}

.fixed-heading {
  position: fixed;
  top: 33%;
  left: 35%;
}

.money {
  color: green;
}

.title {
  text-align: center;
}

h1.title {
  padding-bottom: 25px;
}

.header {
  padding-bottom: 10%;
}

.employees-heading {

}

.ct-chart .ct-label.ct-horizontal {
  color: #333;
  fill: #333;
  font-size: 1.75em;
}

.ratio-chart, #income-chart {
  height: 300px;
}

.after section {
  margin-top: -120px;
  height: 200px;
  visibility: hidden;
  // padding-bottom: 50px;
}

.after .intro-employees{
  margin-top: 0px;
}

.employees-container {
  padding-top: 100px;
  padding-bottom: 250px;
  width: 465px;

  img {
    height: 200px;
  }
}
.chart-time {
}

.fixed-item {
  position: fixed;
  top: 50%;
  left: 30%;
}
